<div style="text-align:center">
  <br />
  <h1 style="color:tomato">
    Welcome To {{ title }}!
  </h1>

</div>

<br />
<div class="container">
  <div class="d-flex justify-content-center h-50">
    <div class="card">
      <div class="card-header">
        <h5 style="color:white">Lets Meetup with your Persona:</h5>
      </div>
      <div class="card-body" >
        <form>
          <div class="input-group form-group">

            <textarea class="form-control" matInput rows="7" cols="70"
              placeholder="Whats on your mind?" #input ></textarea>
          </div>
          <div class=" input-group form-group">

            <input type="button" value="Discover Me" class="btn float-right login_btn" (click)="getPersona(input.value)"/>
            

          </div>
          <div class=" input-group form-group">

            <p style="background-color:powderblue;">{{output}}</p>
            
          </div>
 
          
         
           &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;
           &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp; <img class="logo" src="{{outputImage}}">

           <!--  <img src="../assets/images/"+{{output}}>-->

        </form>
      </div>
    </div>
  </div>